<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Prep Verifica</h3>
      <div class="form-group">
        <label for="useless">Cose Inutili:</label>
        <input name="useless" #newuseless class="form-control">
      </div>
      <div class="form-group">
        <label for="spam">Spam:</label>
        <input name="spam" #newspam class="form-control">
      </div>
    <button (click)="addArticle(newuseless, newspam)" class="btn btn-primary">
      Submit spam
    </button>
  </form>
</div>